﻿@page
@using GameBoard1
@using Head
@model WebApp1.Pages.NewDirectory1.Index

@{
    ViewData["Title"] = "Bombing";
}

@functions
{
    static string GetTdStyle(CellState cell, bool opponent)
    {
        return Class1.CellMagic(cell, opponent) switch
        {
            "S" => "bg-primary",
            "X" => "bg-danger",
            "O" => "bg-secondary",
            _ => "bg-light"
            
            };
    }
}

<div class="mb-3 row g-4">
    <div class="col-md">
        <div class="form-floating">
        <table class="table table-bordered">
            @for (var y = 0; y < Model.Battleship!.Options.GetSize().Item2; y++)
            {
                <tr>
                    @for (var x = 0; x < Model.Battleship.Options.GetSize().Item1; x++)
                    {
                        <td class="@GetTdStyle(Model.Battleship.GetBoard(true)[x, y], false)"></td>
                    }
                </tr>
            }
        </table>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <table class="table table-bordered">
                @for (var y = 0; y < Model.Battleship!.Options.GetSize().Item2; y++)
                {
                    <tr>
                        @for (var x = 0; x < Model.Battleship.Options.GetSize().Item1; x++)
                        {
                            <td class="@(x == Model.PosX && y == Model.PosY ? "bg-warning" : GetTdStyle(Model.Battleship.GetBoard(false)[x, y], true))"></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="mb-3 row g-4">
    <div class="col-md">
    </div>
    <div class="col-md">
        <div class="col-4">
            <table>
                <tr>
                    <td>🔄</td>
                    <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-dir="up">⬆️</a></td>
                    <td>↪️</td>
                </tr>
                <tr>
                    <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-dir="left">⬅️</a></td>
                    <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-dir="down">⬇️</a></td>
                    <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" asp-route-dir="right">➡️</a></td>
                </tr>
                <tr>
                    <form method="post">
                        <input type="submit" asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY" value="🧨"/>
                    </form>
                </tr>
            </table>
        </div>
        
    </div>
</div>
