﻿@page
@model WebApp1.Pages.NewDirectory1.Loading

@{
    ViewData["Title"] = "Waiting confirmation";
}

<form method="post">
    <div class="text-center">
        <h3 class="display-4">Player @(Model.Player != 2 ? 1.ToString() : 2.ToString())'s turn</h3>
        <button type="submit" class="btn btn-primary btn-lg">Confirm</button>
    </div>
    <input asp-for="Id" value="@Model.Id" hidden>
</form>