﻿@page
@using GameBoard1
@using Head
@model WebApp1.Pages.Newcmdectory1.Planning

@{
    ViewData["Title"] = "Planning phase";
}

@functions
{
    private static string GetTdStyle(CellState cell, bool opponent)
    {
        return Class1.CellMagic(cell, opponent) switch
        {
            "S" => "bg-primary",
            _ => "bg-light"
            
            };
    }

    private bool ShipOrNah(int x, int y)
    {
        return !Model.Rotation && x < Model.PosX + Model.Size && x > Model.PosX - 1 && Model.PosY == y ||
                Model.Rotation && y < Model.PosY + Model.Size && y > Model.PosY - 1 && Model.PosX == x;
        
    }
}

<div class="mb-3 row g-4">
    <div class="col-md">
        <div class="form-floating">
        <table class="table table-bordered">
            @for (var y = 0; y < Model.Battleship!.Options.GetSize().Item2; y++)
            {
                <tr>
                    @for (var x = 0; x < Model.Battleship.Options.GetSize().Item1; x++)
                    {
                        <td class="@(ShipOrNah(x, y) ? "bg-warning" : GetTdStyle(Model.Battleship.GetBoard(true)[x, y], false))"></td>
                    }
                </tr>
            }
        </table>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <table class="table table-bordered">
                @for (var y = 0; y < Model.Battleship!.Options.GetSize().Item2; y++)
                {
                    <tr>
                        @for (var x = 0; x < Model.Battleship.Options.GetSize().Item1; x++)
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="mb-3 row g-4">
    <div class="col-md">
        <div class="col-4">
        <table>
            <tr>
                <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY"
                       asp-route-rotation="@Model.Rotation" asp-route-size="@Model.Size" asp-route-q="@Model.Q"asp-route-c="@Model.C"
                       asp-route-cmd="rotate">🔄</a></td>
                <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY"
                       asp-route-rotation="@Model.Rotation" asp-route-size="@Model.Size" asp-route-q="@Model.Q" asp-route-c="@Model.C"
                       asp-route-cmd="up">⬆️</a></td>
                <td></td>
                            
            </tr>
            <tr>
                <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY"
                       asp-route-rotation="@Model.Rotation" asp-route-size="@Model.Size" asp-route-q="@Model.Q" asp-route-c="@Model.C"
                       asp-route-cmd="left">⬅️</a></td>
                <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY"
                       asp-route-rotation="@Model.Rotation" asp-route-size="@Model.Size" asp-route-q="@Model.Q" asp-route-c="@Model.C"
                       asp-route-cmd="down">⬇️</a></td>
                <td><a asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX" asp-route-posy="@Model.PosY"
                       asp-route-rotation="@Model.Rotation" asp-route-size="@Model.Size" asp-route-q="@Model.Q" asp-route-c="@Model.C"
                       asp-route-cmd="right">➡️</a></td>
            </tr>
            <tr>
                <form method="post">
                    <input type="submit" asp-route-id="@Model.Game!.GameId" asp-route-posx="@Model.PosX"
                           asp-route-posy="@Model.PosY" asp-route-rotation="@Model.Rotation" 
                           asp-route-size="@Model.Size" asp-route-q="@Model.Q" asp-route-c="@Model.C" value="🔨"/>
                </form>
            </tr>
        </table>
        </div>
    </div>
    <div class="col-md">
    </div>
</div>
