﻿@page
@model WebApp1.Pages.Boats

@{
    ViewData["Title"] = "Boat menu";
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoatOptions[0].Boat.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoatOptions[0].Boat.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoatOptions[0].Quantity)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.BoatOptions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Boat.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boat.Size)
            </td>
            <td>
                <input id="boatQty" value=@Html.DisplayFor(modelItem => item.Quantity)>
            </td>
            <td>
                <a asp-page="./NewDirectory1/Index/" asp-route-id="@item.BoatOptionsId">Save quantity</a>
            </td>
        </tr>
    }
    </tbody>
</table>
