﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Battleship</h1>
    <h5><a asp-page="/NewGame">New game</a></h5>
    <h5><a asp-page="/LoadGame">Load game</a></h5>
</div>