﻿@page
@model WebApp1.Pages.LoadGame

@{
    ViewData["Title"] = "Load game";
}

<table class="table">
    @foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerA.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerB.Name)
            </td>
            <td>
                <a asp-page="./NewDirectory1/Index/" asp-route-id="@item.GameId">Load</a>
            </td>
        </tr>
    }
</table>