﻿@page
@using Domain.Enums
@model WebApp1.Pages.NewGame

@{
    ViewData["Title"] = "New game";
}

<h4>Creating a new game</h4>

<form method="post">
  <div class="mb-3 row g-4">
    <div class="col-md form-floating">
      <label for="player1Name" class="form-label">Player 1 name</label>
      <input asp-for="P1" class="form-control" id="player1Name" value="@Model.P1">
    </div>
    <div class="col-md form-floating">
      <label for="player2Name" class="form-label">Player 2 name</label>
      <input asp-for="P2" class="form-control" id="player2Name" value="@Model.P2">
    </div>
    <div class="col-md form-floating">
      <label for="boardWidth" class="form-label">Board width</label>
      <input asp-for="BoardWid" class="form-control" id="boardWidth" value="@Model.BoardWid">
    </div>
    <div class="col-md form-floating">
      <label for="boardHeight" class="form-label">Board height</label>
      <input asp-for="BoardHei" class="form-control" id="boardHeight" value="@Model.BoardHei">
    </div>
  </div>

  <div class="mb-3 row g-4">
    <div class="col-md form-floating">
      <label for="selectMenuBoatContact" class="form-label">Boat contact mode</label>
      <select asp-for="BoatContact" id="selectMenuBoatContact" asp-items="Html.GetEnumSelectList(typeof(EBoatContact))">
      </select>
    </div>
    <div class="col-md form-floating">
      <input asp-for="HitExtendsTurn" id="checkboxContinueAfterHit">
      <label for="checkboxContinueAfterHit" class="form-label">Go again after hitting a ship</label>
    </div>
    <div class="col-md form-floating">
      <label for="selectMenuPlayerType" class="form-label">Player 2</label>
      <select asp-for="P2PlayerType" id="selectMenuPlayerType" asp-items="Html.GetEnumSelectList(typeof(EPlayerType))">
      </select>
    </div>
    <div class="col-md form-floating">
      <input asp-for="ShipGenerator" id="checkboxGenerateShips" />
      <label for="checkboxGenerateShips" class="form-label">Randomly generate ships</label>
    </div>
  </div>
  <div class="mb-3 row g-4 col-md form-floating">
    <a asp-page="./Boats/">Boat settings</a>
  </div>
  <div class="mb-3 row g-4 col-md">
    <button type="submit" class="btn btn-primary">Start game</button>
  </div>
</form>
